<h1>Welcome</h1>

<%= link_to 'Connect with Soundcloud', user_omniauth_authorize_path(:soundcloud) if current_user unless @soundcloud_access_token %>

<% if @soundcloud_access_token != nil %>
	<h2><%= @sc.username %></h2>
	<p><%= @soundcloud_access_token %> | <%= @current_user.access_token %> </p>
	<p><%= @mixcloud_access_token %> </p>
	<ul>
		<% @tracks.each do |track| %>
			<li><%= link_to track.title, upload_path(:track => {title: track.title, download_url: track.download_url}), :method => :get %></li>
		<% end %>
	</ul>

<% end %>

<br/>
<%= link_to 'Connect with MixCloud', user_omniauth_authorize_path(:mixcloud) %>
<br/>
<% if current_user.id === 4 %>
<%= link_to 'Connect with Shopify', user_omniauth_authorize_path(:shopify) %>
<% end %>